body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.hcolor{
    color: #272727;
}
.pcolor{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
header 
{
    display: flex;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
}
#banner{
    margin-left: 240px;
}
#bannerheading{
    font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 197px;
margin-bottom: 0;
}
#bannerp{
    margin-top: 32px;
    margin-bottom: 0px;
}
.buttoncolor{
border-radius: 8px;
background: #E55473;
width: 177px;
height: 64px;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-top: 32px;
}
.bannerimg{
    width: 635px;
height: 800px;
margin-right: 240px;
}